body, div, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html, body {
    height: 100%;
}

body {
    background-image: url(https://www.michaeldono.com/background.svg);
    background-repeat: no-repeat;
    background-size: 21000px 15000px;
    height: 100vh;
}

/* sidebar styling */

#sidebar.col-2 {
    background-color: #202e5f;
    color: #FFFFFF;
    padding: 2em 1.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    box-shadow: 0.2em 0 0.9em #1b13636e;
    display: none;
}

.row > .col-10 {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .row > .col-10 {
        padding: 2em 10em;
        height: 100%;
        
    }

    #sidebar.col-2 { 
        display: block;
    }
}

#map {
    min-height: 50vh;
    flex: 8 0 auto;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 1em;
}

@media (max-width: 1199px) {

    .row > .col-10 {
        flex: 0 0 100%;
        min-width: 100%;
        
    }
}

.container-fluid h1 {
    font-family: 'Raleway', monospace;
    font-size: 3.5em;
    line-height: 1.05em;
    flex: 1 1 0;
}

/* iPhone 7 */
@media (min-height: 600px) and (min-width: 300px) {

    .container-fluid h1 {
        font-size: 4em;
        line-height: 1.05em;
    }
    
}

#sidebar > .header {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    padding-bottom: 0.5em;
    text-shadow: 0.02em 0.02em 0.1em #8f89b9;
}

#sidebar .subheader {
    font-size: 0.8em;
}

#sidebar > .divider {
    background-color: #505897;
    height: 1px;
    margin: 0.6em -1.5em;
}

.projects > .listing {
    padding: 0.3em 1em;
    font-size: 0.8em;
    line-height: 1.3em;
    font-weight: 300;
}

.listing > a, 
.listing > a:visited,
.listing > a:link,
.listing > a:focus {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    padding: 0.2em 0;
}

.listing > a:active, 
.listing > a:hover {
    color: #d4ddf8;
}

.listing > a.this > div {
    font-weight: 400;
    border-left: 1px solid #bcc3ce;
    margin-left: -0.33em;
    padding-left: 0.33em;
}

.tourDescription {
    padding: 0.8em 1em;
    font-size: 1.1em;
    line-height: 1.25em;
    flex-grow: 1;
}

.tourDescription > span {
    font-family: 'Roboto', sans-serif;
    padding: 0.2em 0;
    display: inline-block;
    text-indent: 1em;

}

.tourDescription a:link, .tourDescription a:visited {
    color: #eaecf1;
    text-decoration: none;
    text-shadow: 0.01em 0.01em 0.2em #aec1e9;
}
.row {
    height: 100%;
}


.container-fluid {
    color: #fafafa;
    height: 100vh;
}

.container-fluid p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 2em;
}



.transitLabel h1 {
    font-weight: 400;
    font-size: 2rem;
}

.tocs {
    display: flex;
    flex-wrap: wrap;
}

.transitLabel > h2  {
    font-weight: 400;
    font-size: 1.2rem;
}

.transitLabel > h2 > img {
    max-height: 1.2rem;
    max-width: 1.2rem;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
}

.transitLabel .midSection {
    border-bottom: 0.08em solid #c4c4c4;
    padding-bottom: 0.33em;
    margin-bottom: 0.7em;
}

.transitLabel .toc {
    font-size: 1.2em;
    padding: 0.25em;
    font-family: 'Raleway', monospace;
    margin: 0.2em;
    color: #FFFFFF;
    border-radius: 0.25em;
    
}

.toc.lner {
    background-color: #ce0e2d;
}

.toc.tpe {
    background-color: #00A6E6;
}

.toc.xc {
    background-color: #880e4f;
}

.toc.northern {
    background-color: #262262;
}

.toc.greenLine {
    background-color: #2fb456;
}

.toc.yellowLine {
    background-color: #faa63a;
    color: #000000;
}

.toc > p {
    margin: auto;
    text-align: center;
    width: 100%;
    line-height: 1.2em;
}

#poiContainer {
    background-color: #f2f1f0;
    color: #16161d;

}

#poiContainer .poiEntry {
    color: #16161d;

}


.poiEntry img {
    box-shadow: 0em 0.1em 0.9em #1b13636e;
    width: 100%;
}

.poiText {
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 1.25em;
}

.poiText > span {
    margin-bottom: 0.2em;
    display: inline-block;
}

@media (min-width: 1000px) {

    .poiEntry img {
        box-shadow: 0.1em 0.1em 0.9em #1b13636e;
        width: 50%;
        float: left;
        
        margin: 0 1em 1em 1em;
    }

    .poiEntry {
        overflow: auto;
    }
    .poiText {
        font-size: 1.2em;
        line-height: 1.3em;
        margin: 0 1em 1em 33%;
        padding-left: 2.5em;
    }
}

@media (min-width: 1400px) {

    .poiEntry img {
        width: 33%;
        
    }
}

#poiContainer .carousel-control-next, #poiContainer .carousel-control-prev {
    opacity: 1;
    user-select: none;
    background-color: #f2f1f0;
}

#poiContainer .carousel-control-next:hover, #poiContainer .carousel-control-prev:hover {
    opacity: 1;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { 
    color: #0000008a; 
}

#poiContainer .carousel-control-next:hover .material-icons.md-dark, 
#poiContainer .carousel-control-prev:hover .material-icons.md-dark {
    color: #000000d2;
}

#poiContainer .material-icons:hover {
    color: #0000008e;
}
#poiContainer .carousel-indicators .active {
    background-color: #16161d;
}

#poiContainer .carousel-indicators li {
    background-color: #797979;
}

.carousel-inner {
    padding: 0 15%;
}

.carousel-item {
    /* height: 40vh; */
    padding: 1em;
}

#poiContainer h2 {
    font-family: 'Raleway', monospace;
    font-size: 2em;
    line-height: 1em;
    
}

.poiTitle {
    display: flex;
    flex-direction: row;
    padding: 1em 0 0.8em 1em;
}

.poiModal {
    background-color: #ff0000;
    color: #FFFFFF;
    display: inline-block;
    height: 1em;
    width: 1em;
    font-size: 2em;
    text-align: center;
    margin-right: 0.3em;
}

.poiModal > span {
    bottom: 0.3em;
    height: 1em;
    width: 1em;
    position: relative;
    font-family: 'Roboto Slab', monospace;
    user-select: none;
}