.contentContainer {
    height: calc(100vh - 56px);
    color: #FFFFFF;
}

.contentContainer div ul {
    font-family: 'Raleway', sans-serif;
    font-size: 1.33em;
    list-style: none;
    padding-left: 0;
}

.row {
    height: 100%;
}

@media (min-width: 992px) {
    .row {
        height: 100vh;
    }
}


@media (min-width: 1200px) {
    .contentContainer {
        padding: 0 12em;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        user-select: none;
        vertical-align: middle;
        justify-content: center;
    }

    .header {
        font-size: 8em;
    }

    .row {
        height: 100vh;
    }
}