.contentContainer {
    height: calc(100vh - 56px);
    color: #FFFFFF;
}

.container {
    background-image: url(https://www.michaeldono.com/background.svg);
    background-repeat: no-repeat;
    background-size: 21000px 15000px;
}

.row {
    height: 100%;
}

@media (min-width: 992px) {
    .row {
        height: 100vh;
    }
}


@media (min-width: 1200px) {
    .contentContainer {
        padding: 0 12em;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        user-select: none;
        vertical-align: middle;
        justify-content: center;
    }

    .container h1 {
        font-size: 8em;
    }

    .row {
        height: 100vh;
    }
}