.link, .link:visited {
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 0.3em 0;
}

.link:hover {
    color: #d4ddf8;
    text-decoration: none;
}

.active {
    font-weight: 400;
    border-left: 1px solid #bcc3ce;
    margin-left: -0.38em;
    padding-left: 0.33em;
    
}