.container {
    padding: 2em 10em;
}

.container > h1 {
    color: #FFFFFF;
    user-select: none;
}

.content, .contentFirst {
    background-color: #f2f1f0;
    color: #16161d;
    margin: 0;
}

.contentFirst {
    padding-top: 1em;
}

.container > h1 {
    font-family: 'Raleway', monospace;
    font-size: 4em;
    line-height: 1.05em;
}

.poiImage {
    box-shadow: 0.1em 0.1em 0.9em #1b13636e;
    width: 100%;
    margin: 1em 0;
}

.content > div, .contentFirst > div, .content > div > div, .contentFirst > div > div {
    margin: 0;
}

.map {
    /* position: relative;
    overflow: hidden;
    min-height: 50vh;
    flex: 8 0 auto;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 1em; */
    margin-bottom: 1em;
}

.waypointIcon {
    background-color: #ff0000;
    color: #FFFFFF;
    display: inline-block;
    height: 1em;
    width: 1em;
    font-size: 2em;
    text-align: center;
    margin-right: 0.3em;
    border-radius: 50% !important;
    vertical-align: middle;
}

.waypointIcon > span {
    bottom: 0.3em;
    height: 1em;
    width: 1em;
    position: relative;
    font-family: 'Roboto Slab', monospace;
    user-select: none;
}

.waypointName {
    display: inline;
    vertical-align: middle;
}